-# Syntax Highlighting
%link{ rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/tomorrow-night-blue.min.css' }
%script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js' }
:javascript
  hljs.initHighlightingOnLoad();
